<?xml version="1.0"?>

<launch>

  
<node pkg="tf" type="static_transform_publisher" name="camera_broadcaster" args="0.00 0.0 0.0 0.0 0.0 0.0 base_link laser  100" />
<node pkg="tf" type="static_transform_publisher" name="base_link_broadcaster" args="0.0 0.0 0.07 0.0 0.0 0.0  base_link  camera_link 100" />


<include file="$(find openni_launch)/launch/openni.launch" >
    <!--arg name="publish_tf" value="false" /-->
</include>


<node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan" args="image:=/camera/depth/image_raw" respawn="true"> 
   <!--param name="output_frame_id" value="/camera_depth_frame"/-->
   <param name="scan_height" value="250"/> 
    <param name="scan_time" value="0.125"/>
    <param name="range_min" value="0.80"/>
    <param name="range_max" value="4.0"/>
    <param name="min_height" value=".10"/>
    <param name="max_height" value="2.0"/>
    <remap from="/scan" to="/scan_xtion"/>	
</node>


 <node name="hokuyo_node" pkg="hokuyo_node" type="hokuyo_node" respawn="false" output="screen" />

 <node name="filter_hokuyo" pkg="filter_hokuyo" type="filter_hokuyo" respawn="false" output="screen" />



</launch>
